# Project exclude paths
/venv/
/src/utils/data/
src/utils/data/agents.json
src/utils/data/arch_obj.json
src/utils/data/dmg_obj.json
src/utils/data/hva_obj.json
src/utils/data/im_obj.json
src/utils/data/thes.json
src/utils/data/stam_obj.json
